<!DOCTYPE html>
<html>

{% load static %}

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

  <h1>Available meals</h1>
  
  <table>
    <tr>
      <th>Meal</th>
      <th>Price</th>
    </tr>
    {% for meal in meals %}
    <tr>
        <td>{{ meal.name }} </td>
        <td>{{ meal.price }} </td>
    </tr>
    {% endfor %}
  </table>

  <div class="container py-5">
    <a href="/">Main Page</a>
    <a href="/users/logout">Logout</a>
  </div>

</body>

</html>
