<!DOCTYPE html>
<html>

{% load static %}

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <h1>Orders history</h1>
    
  <ul>
    {% for order in orders %}
      <li>{{ order.date }} = {{ order.meal_id.name }}</li>
<!--      {% for meal in meals %}-->
<!--        {% if meal.meal_id == order.meal_id_id %}-->
<!--          <li>{{ order.date }} = {{ meal.name }} </li>-->
<!--        {% endif %}-->
<!--      {% endfor %}-->
    {% endfor %}
  </ul>

  <div class="container py-5">
    <a href="/">Main Page</a>
    <a href="/users/logout">Logout</a>
  </div>

</body>

</html>
